    
@media(max-width:720px){
    body{
        background-color: hsl(210, 46%, 95%);
        width: 375px;
        height: 812px;
        max-width: 720px;
    }
    .container{
        width: 88%;
        height: 70%;
        margin: 0 auto;
        max-width: 730px;

        display: flex;
        flex-direction: column;
    }
    .container-img{
        width: 100%;
        height: 100%;

        border-radius: 10px 10px 0px 0px;
    }
    .share-icon{
        position: absolute;
        left: 264px;
        top: 17px;
    }
    .container-card-section-footer {
        margin-top: 10%;
    }
    .icons-container{
        width: 329px;
        height: 194%;
        top: -5px;
        right: -19px;
        display: flex;
        justify-content: flex-start;
        border-radius: 0px 0px 10px 10px;
    }
    .icons-container::after{
        display: none;
 
    }
    span{
        margin: 25px;
    }
    .social-icon{
        margin-right: 15px;
    }
}
    
