.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 
}
body{
   /* width: 1440px;  */
   height: 600px; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:1ch;

   background-color: hsl(210, 46%, 95%);
} 
.container{
    display: flex;
    width: 55%;
    height: 45%;
    background-color: white;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.container-img{
    width: 400px;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.container-card{
    /* display: grid;
    place-content: center;
    gap: 1ch;
    box-sizing: border-box; */
    /* margin: 2%;
    padding: 2%; */
    
}

.container-card-section{
    padding: 7%;
    
}
.container-card-section-title{
    margin-bottom: 4%;
}
.container-card-section-footer{
    margin-top:5%;
    margin-bottom: 5%;
    position: relative;

    display: flex;
    flex-direction: row;
}
.container-card-section-footer div{
    margin-left: 5%;
    /* position: relative; */
}
.avatar{
    max-width:36px;
    max-height:36px;
    width: auto;
    height: auto;
    display: inline;
    border-radius: 50%;
}
.share-icon{
   position: absolute;
   left: 327px;
   top:8px
}
.icons-container{
    width: 71%;
    height: 124%;
    position: absolute;
    background-color: gray;
    top:-67px;
    right: -96px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 9px 1px hsl(212, 23%, 69%);
    display: none;
}
.social-icon{
    max-width:20px;
    max-height:20px;
    width: auto;
    height: auto;
    cursor: pointer;

}

.icons-container::after{
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid grey;
}